/* only common styles for abstract gallery here */
.gallery {
  --size: var(--photo-size);

  display: flex;
  gap: var(--btn-gap);
  overflow-x: auto;

  /* scrollbar styles */
  scrollbar-width: none;
  /* scrollbar-color: var(--color-border) transparent; */

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 3px;
  }

  /* children */
  .gallery-item {
    all: unset;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;

    width: var(--size);
    height: var(--size);
    padding: 0;
    border-radius: calc(var(--panel-radius) / 2);
    cursor: pointer;
    transition: transform 0.2s;

    &:has(input[type='radio']:checked) {
      box-shadow: 0 0 0 2px rgb(var(--toolbar-bg-rgb)), 0 0 0 4px var(--text-color);
    }

    &.gallery-item:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    input[type='radio'] {
      position: absolute;
      opacity: 0;
      /* z-index: 0; */
    }
  }
}
