/*
 * Frame Gallery
 */
.gallery-panel {
  border-right: 1px solid var(--color-border);
}

.frame-gallery {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.gallery-item {
  all: unset;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: var(--radius-s);
  cursor: pointer;
  transition: background-color 0.2s;
}
.gallery-item.active {
  background-color: var(--color-bg-card);
}
.gallery-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 2px var(--color-bg-secondary);
  position: relative;
  flex-shrink: 0;
  background-color: #333;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-item-text {
  margin-left: var(--spacing-m);
  font-size: 0.95rem;
}

/*
 * Photo Gallery
 */
.photo-gallery-container {
  width: 100%;
  margin-top: var(--spacing-m);
}

.photo-gallery {
  display: flex;
  gap: var(--spacing-sm);
  overflow-x: auto;
  padding: var(--spacing-xs);

  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 3px;
  }
}

@media (max-width: 400px) {
  .photo-gallery {
    flex-wrap: wrap;
  }
}

.gallery-item {
  --size: 75px;
}

.gallery-item {
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-s);
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
  flex-shrink: 0;
  transition: border-color 0.2s, transform 0.2s;

  &:has(input[type='radio']:checked) {
    border-color: white;
  }

  /* increase specificity */
  &.gallery-item:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    /* z-index: 0; */
  }
}

/* Responsive */
@media (max-width: 1000px) {
  .gallery-panel {
    border-right: none;
    border-bottom: 1px solid var(--color-border);
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: var(--spacing-sm);
  }
  .frame-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .gallery-item {
    flex-direction: column;
  }
}
