/* general layout logic */

.panel-layout {
  position: absolute;
  z-index: 999;

  &.top {
    top: 0;
    left: 0;
    bottom: 0;
  }

  &.right {
    right: var(--panel-gap);
    top: var(--panel-gap);
    bottom: var(--panel-gap);
  }

  &.left {
    left: calc(var(--panel-gap) + var(--panel-padding) + var(--panel-padding) + var(--logo-size));
    top: 50%;
    transform: translateY(-50%);
  }

  &.bottom {
    bottom: var(--panel-gap);
    left: calc(50% - (var(--right-panel-width) + var(--panel-gap)) / 2);
    transform: translateX(-50%);
  }

  &.canvas {
    z-index: revert; /* reset z-index for canvas */
    top: 50%;
    left: calc(50% - (var(--right-panel-width) + var(--panel-gap)) / 2);
    transform: translate(-50%, -50%);
  }
}