/* UI elements */

.btn {
  background-color: var(--btn-bg);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & svg {
    transition: transform 0.2s;
  }

  &:has(input:checked) {
    box-shadow: 0 0 0 1px var(--text-color);
  }

  &:hover svg {
    transform: scale(1.25);
  }

  &:has(span) {
    padding: var(--btn-padding) calc(var(--btn-padding) * 2);
    
    &:hover svg {
      transform: scale(1);
    }
  }

  &:has(img) {
    padding: 0;
    overflow: hidden;
    background: none;
  }

  &:has(svg) {
    gap: var(--btn-padding);

    & svg {
      width: var(--btn-icon-size);
      height: var(--btn-icon-size);
    }
  }

  &.photo {
    height: var(--photo-size);
    width: var(--photo-size);

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &.frame {
    height: var(--frame-size);
    width: var(--frame-size);

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.panel-close-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  flex-grow: 0;
  background: var(--toolbar-bg);
  border: none;
  border-radius: var(--btn-radius);
  box-shadow: 0 0 0 1px var(--label-text-color);
  overflow: hidden;
}
.right:hover .panel-close-container,
.left:hover .panel-close-container,
.bottom:hover .panel-close-container {
  display: flex;
}
.right .panel-close-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-80%);
  width: 20px;
}
.left .panel-close-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(80%);
  width: 20px;
}
.bottom .panel-close-container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(-80%);
  height: 20px;
}